* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.app {
  background-color: white;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  text-align: center;
  width: auto;
 
}
.title {
  margin: auto;
  display: flex;
}
.title h1 {
  text-align: center;
  align-items: center;
}
.title img {
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bolder;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #bdbdbd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
}

button:hover {
  background-color: #218838;
}

.todo-list {
  list-style-type: none;
}

.todo-item {
  border: 1px solid #8b8b8b;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.todo-item input {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.todo-item button {
  background-color: #464646;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.todo-item button:hover {
  background-color: #0a0909;
}

.todo-item div {
  display: flex;
  gap: 5px;
}
